<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/foundation.css">
  <script src="js/vendor/modernizr.js"></script>
  <meta charset="utf-8">
  <title><%=@page_title%></title>
</head>
<body>
  <%=yield%>
</body>
</html>
