<h3>Create a new meetup</h3>

<form action='/create' method='POST'>
  <div class="row"><label>
    <p>Name</p>
    <input type='Text' name='Name' size='' placeholder='' >
  </div></label>
  <div class="row"><label>
    <p>Location</p>
    <input type='Text' name='Location' size='' placeholder='' >
  </div></label>
  <div class="row"><label>
    <p>Description</p>
    <textarea name='Description' cols="50" rows="20"></textarea>
  </div></label>
  <div class="row">
    <button type='submit'>Create Meetup</button>
  </div>
</form>
