
  <h1><%=@recipe_info[0]['name']%></h1>
  <p><%=@description%></p>
  <h3>Ingredients</h3>
  <ul>
    <%@recipe_info.each do |ingredients|%>
    <li>
      <%=ingredients['ingredient']%>
    </li>
    <%end%>
  </ul>
  <h3>Instructions</h3>
  <!-- <pre> -->
    <p><%= @instructions %></p>
  <!-- </pre> -->
